/* Loading.css */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Asegúrate de que el contenedor llene toda la pantalla */
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3498db; /* Color del spinner */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  .loading-text {
    margin-top: 10px;
    font-size: 26px;
    font-weight: bolder;
    color: #333; /* Color del texto */
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  